@zeiss:registry=https://pkgs.dev.azure.com/ZEISSgroup-MED/GEN_Health_Data_Platform/_packaging/hdp/npm/registry/
@arnold:registry=https://pkgs.dev.azure.com/ZEISSgroup-MED/GEN_Health_Data_Platform/_packaging/hdp/npm/registry/

always-auth=true
legacy-peer-deps=true
